<a href="https://colab.research.google.com/github/Priyankamishra2098/Global-terrorism-datset-EDA/blob/main/EDA_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1.Importing Libraries and Dataset**

### Importing Libraries

In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from wordcloud import WordCloud
import warnings
warnings.filterwarnings('ignore')
print("Libraries imported sucessfully")

Libraries imported sucessfully

### Loading Dataset

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = "/content/drive/MyDrive/data/Global Terrorism Data.csv"
print("Dataset loaded sucessfully")

Dataset loaded sucessfully

### Reading of Dataset

In [9]:
df = pd.read_csv(df,encoding = 'ISO-8859-1') 
print("Dataset Read Sucessfully")

Dataset Read Sucessfully

###Dimensions of Dataset

In [10]:
df.shape

(181691, 135)

### Dataset First View

In [12]:
df.head(3)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [13]:
df.tail()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

## **2.Understanding the Variables**

###Dataset Information

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [21]:
df.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [22]:
df.describe

<bound method NDFrame.describe of              eventid  iyear  imonth  iday approxdate  extended resolution  \
0       197000000001   1970       7     2        NaN         0        NaN
1       197000000002   1970       0     0        NaN         0        NaN
2       197001000001   1970       1     0        NaN         0        NaN
3       197001000002   1970       1     0        NaN         0        NaN
4       197001000003   1970       1     0        NaN         0        NaN
...              ...    ...     ...   ...        ...       ...        ...
181686  201712310022   2017      12    31        NaN         0        NaN
181687  201712310029   2017      12    31        NaN         0        NaN
181688  201712310030   2017      12    31        NaN         0        NaN
181689  201712310031   2017      12    31        NaN         0        NaN
181690  201712310032   2017      12    31        NaN         0        NaN

        country         country_txt  region  ... addnotes  \
0            58  Dominican Republic       2  ...      NaN
1           130              Mexico       1  ...      NaN
2           160         Philippines       5  ...      NaN
3            78              Greece       8  ...      NaN
4           101               Japan       4  ...      NaN
...         ...                 ...     ...  ...      ...
181686      182             Somalia      11  ...      NaN
181687      200               Syria      10  ...      NaN
181688      160         Philippines       5  ...      NaN
181689       92               India       6  ...      NaN
181690      160         Philippines       5  ...      NaN

                                                   scite1  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
181686  "Somalia: Al-Shabaab Militants Attack Army Che...
181687  "Putin's 'victory' in Syria has turned into a ...
181688  "Maguindanao clashes trap tribe members," Phil...
181689  "Trader escapes grenade attack in Imphal," Bus...
181690  "Security tightened in Cotabato following IED ...

                                                   scite2  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
181686  "Highlights: Somalia Daily Media Highlights 2 ...
181687  "Two Russian soldiers killed at Hmeymim base i...
181688                                                NaN
181689                                                NaN
181690  "Security tightened in Cotabato City," Manila ...

                                                   scite3  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
181686  "Highlights: Somalia Daily Media Highlights 1 ...
181687  "Two Russian servicemen killed in Syria mortar...
181688                                                NaN
181689                                                NaN
181690                                                NaN

                        dbsource  INT_LOG  INT_IDEO INT_MISC INT_ANY  related
0                           PGIS        0         0        0       0      NaN
1                           PGIS        0         1        1       1      NaN
2                           PGIS       -9        -9        1       1      NaN
3                           PGIS       -9        -9        1       1      NaN
4                           PGIS       -9        -9        1       1      NaN
...                          ...      ...       ...      ...     ...      ...
181686  START Primary Collection        0         0        0       0      NaN
181687  START Primary Collection       -9        -9        1       1      NaN
181688  START Primary Collection        0         0        0       0      NaN
181689  START Primary Collection       -9        -9        0      -9      NaN
181690  START Primary Collection       -9        -9        0      -9      NaN

[181691 rows x 135 columns]>

### Number of Duplicate Values in the Dataset

In [15]:
# Duplicate Values/Duplicate Values Count
df.duplicated().sum()

0

### Null Values in the Dataset

In [17]:
# Missing Values/Null Values Count
pd.DataFrame(df.isna().sum()).T

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,0,0,0,0,172452,0,179471,0,0,0,...,153402,66191,104758,138175,0,0,0,0,0,156653

###Total Number of Null Values

In [16]:
# Counting Total Number of Null Values
print('Total number of null values = ',df.isnull().sum().sum())

Total number of null values =  13853997